---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Impressum">
  <h1>Impressum</h1>

  <h2>Angaben gemäß § 5 DDG</h2>
  <p>
    Oliver Horn<br />
    Dr.-Demmeler-Str. 8A<br />
    86807 Buchloe
  </p>

  <h2>Kontakt</h2>
  <p>
    E-Mail: <a href="mailto:horn.oliver@gmail.com">horn.oliver@gmail.com</a>
  </p>

  <h2>Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV</h2>
  <p>
    Oliver Horn (Anschrift wie oben)
  </p>
</Layout>
